<p id="notice"><%= notice %></p>
<div class="contaier">

<h3><%= current_user.email %></h3>
<p>
<%= image_tag(current_user.header_image.variant(resize_to_limit: [100, 100])) if current_user.header_image.present? %>
</p>

<hr>

</div>





<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <p>Published On <%= @post.created_at %> </p>
</p>


<p>
<%= image_tag @post.image.url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<hr>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>








