<div class="container" style="margin-top: -8  0px;">

<div class="row">

<div class="col-sm-3">
<p id="notice"><%= notice %></p>

<h3><b>Profile</b></h3>
<h5><i><%= current_user.email %></i></h5>
<p style="width=20px;height=20px">
<%= image_tag(current_user.header_image.variant(resize_to_limit: [100, 100])) if current_user.header_image.present? %>
</p>
</div>



<div class="col-sm-5">  
<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <p>Published On <%= @post.created_at %> </p>  
</p>


<p>
<%= image_tag @post.image.url(:medium) %>
</p>  

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
</div>



<div class="col-sm-4 ">
<h4> <b> <%= @post.comments.count %></b>   Comments</h4>
<div style="height: 270px; overflow: scroll ;">
<% @post.comments.each do |comment| %>
  
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
  <% if can? :delete, comment %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <% end %>
</p>
<% end %>
</div>



 
<h2>Add a comment:</h2>
<div class="card mb-3">
    <div class="card-header">
        <h4 class="mb-0">Add A Comment:</h4>
    </div>
    <div class="card-body">
        
        <%= render "comments/form" %>
    </div>
</div>
<div class="card mb-3">
    <div id="comment-count" class="card-header">
        <h4>Comments: This Post has <%= pluralize(@post.comments.count, 'comment') %></h4>
    </div>
    <div id="comments" class="card-body">
        <%= render @post.comments %>
    </div>
</div>
# <%form_with(model: [ @post, @post.comments.build ], remote: true) do |form| %>
  

#   <p>
#     <% form.label :body %><br>
#     <% form.text_area :body %>
#   </p>
#   <p>
#     <% form.submit %>
#   </p>

# <% end %>

# </div>

# </div>


<% if can? :edit, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>
<%= link_to 'Back', posts_path %>

</div>






